footer {
    margin-left: -1.5%;
    margin-top: 30px;
    margin-bottom: -2%;
    width: 102.1%;
    height: 100px;
    font-size: 17px;
    text-align: right;
    color: rgb(255, 115, 0);
    flex-shrink: 0;
    background-image: url(images/Image3.png)
}
.section2 a {
    text-decoration: none;
    border: 6px inset rgb(255, 115, 0);
    background: rgb(247, 188, 61);
    padding: 10px;
    color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: rgb(110, 45, 21);
    border-radius: 10%;
}
.zag {
    width: auto;
    /*font-family: "Georgia", serif;*/
    font-size: 50px;
    line-height: 50px;
    color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(90, 25, 1);
}
.subzag {
    margin-top: -20px;
    font-size: 30px;
    color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(90, 25, 1);
}
.header {   
    text-align: center;
    margin-bottom: 220px;
    background-image: url(images/Image3.png);
    margin-left: -1.5%;
    margin-top: -1.5%;
    width: 102.1%;
    padding-top: 5px;
    height: 153px;
}
.home {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 13px;
    float: left;
    text-decoration: none;
    border: 6px inset rgb(255, 115, 0);
    background: rgb(247, 188, 61);
    padding: 5px;
    color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: rgb(110, 45, 21);
    border-radius: 10%;
}
.body1 {
    background-image:  url(images/Image12.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 14px;
    line-height: 1.4;
    font-family: "Arial", sans-serif;
}
.section1 {
    font-size: 25px;
    text-align: center;
    color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(90, 25, 1);
}
.section2 {
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    margin-bottom: 120px;
}